<%= simple_form_for(@listing, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">

    <!-- Title Field -->
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <%= f.input :title, label: false %>
      </div>
    </div>

    <!-- Description Field -->
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <%= f.input :description, label: false, as: :text, input_html: {rows: "3"} %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
