<%= simple_form_for([@user, @listing], html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
    <%= f.full_error :image_file_size, class: "alert alert-error" %>
    <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <div class="inputs">


    <!-- Image Field -->
    <div class="control-group">
      <label class="control-label">Upload an Image</label>
      <div class="controls">
        <%= f.input :image, label: false %>
      </div>
    </div>

    <!-- Title Field -->
    <div class="control-group">
      <label class="control-label">Title</label>
      <div class="controls">
        <%= f.input :title, label: false %>
      </div>
    </div>

    <!-- Description Field -->
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <%= f.input :description, label: false, as: :text, input_html: {rows: "3"} %>
      </div>
    </div>

    <!-- Price Field -->
    <div class="control-group">
      <label class="control-label">Price</label>
      <div class="controls">
        <%= f.input :price, :placeholder => "0.00", label: false %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
