<div class="listing-box">

  <%= link_to (image_tag listing.image), listing %>

  <p class="listing-title">
    <%= listing.title %>
  </p>

  <p>
    <strong>
      Posted by <%= link_to listing.user.name, listing.user %>
    </strong>
  </p>

  <% if current_user == listing.user %>
    <%= link_to 'Edit', edit_listing_path(listing) %>
    <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

</div>
