


<!-- Listing's Price -->
<div>
<%= number_to_currency(@listing.price, :unit => "$") %>
</div>

<!-- Listing's User Avatar -->
<div>
  <%= image_tag @listing.user.avatar.url(:avatar) %>
</div>

<!-- Listing's User Name -->
<div>
  <%= @listing.user.name %>
</div>


<!-- Listing's Title -->
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>




<% if current_user == @listing.user %>
    <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-small" %>
    <%= link_to 'Destroy', @listing, method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-small btn-danger"%>
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-small" %>